<div class='wrapper'>

  <input data-function='swipe' id='swipe' type='checkbox'>
  <label data-function='swipe' for='swipe' class="btn btn-default" >☰</label>

  <div class='content'>
    {{ content }}
  </div>

  <div class='sidebar menu'>

      <div id="picture" style="background-image: url(https://www.notion.so/file/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F7dcaddc8-4f07-4a0b-8bd9-b1e79e34cd8b%2Ffullsizeoutput_24e.jpeg)">
        <!--  -->
      </div>
      <p>{{site.description}}</p>

      <hr>

      <div id="social-icons">
        <ul>
            <li><a href="https://mx.linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>

       <hr>

       <div class="navigation">
        <ul>
            {% for my_page in site.pages %}
                {% if my_page.title %}
                <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <hr>

     <div class="navigation">
             <ul>
               {% for category in site.categories %}
                 <li><a href="{{ site.baseurl | prepend: url }}/categories/{{ category | first | prepend: site.baseurl }}">{{ category | first }}</a></li>
               {% endfor %}
             </ul>
     </div>

     <hr>

     <p>{{site.footer}}<p>
     <p>Created by Zhao Jie<p>

  </div>

</div>
